# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/" # Location of package manifests
    groups:
      go-dependencies:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      production-dependencies:
        dependency-type: "production"
        exclude-patterns:
          - "@chromatic-com/storybook"
          - "@storybook/*"
          - "@tanstack/*"
          - "storybook"
      development-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "@chromatic-com/storybook"
          - "@storybook/*"
          - "@tanstack/*"
          - "storybook"
      storybook:
        patterns:
          - "@chromatic-com/storybook"
          - "@storybook/*"
          - "storybook"
      tanstack:
        patterns:
          - "@tanstack/*"
